Android/.DS_Store
Android/.gradle/8.10.2/checksums/checksums.lock
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxWorkLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$CameraxLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$ComGoogleCodeLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$ComGoogleLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$ComLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$FirebaseLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$GooglePluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$HiltAndroidLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$HiltLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$HiltNavigationLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$HiltPluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinPluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinxLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinxSerializationLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$MaterialIconLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$MaterialLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$MediapipeLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$MediapipeTasksLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$OpenidLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$OssPluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$PlayLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$PlayServicesLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$PlayServicesOssLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$ProtobufLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$TfliteLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibs.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxWorkLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$CameraxLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$ComGoogleCodeLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$ComGoogleLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$ComLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$FirebaseLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$GooglePluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$HiltAndroidLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$HiltLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$HiltNavigationLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$HiltPluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinPluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinxLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinxSerializationLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$MaterialIconLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$MaterialLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$MediapipeLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$MediapipeTasksLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$OpenidLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$OssPluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PlayLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PlayServicesLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PlayServicesOssLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$ProtobufLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$TfliteLibraryAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/metadata.bin
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/sources/org/gradle/accessors/dm/LibrariesForLibs.java
Android/.gradle/8.10.2/dependencies-accessors/4845060fcd1e336a82a0b668599a1affe6f9f789/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
Android/.gradle/8.10.2/dependencies-accessors/gc.properties
Android/.gradle/8.10.2/executionHistory/executionHistory.bin
Android/.gradle/8.10.2/executionHistory/executionHistory.lock
Android/.gradle/8.10.2/expanded/expanded.lock
Android/.gradle/8.10.2/fileChanges/last-build.bin
Android/.gradle/8.10.2/fileHashes/fileHashes.bin
Android/.gradle/8.10.2/fileHashes/fileHashes.lock
Android/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
Android/.gradle/8.10.2/gc.properties
Android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Android/.gradle/buildOutputCleanup/cache.properties
Android/.gradle/buildOutputCleanup/outputFiles.bin
Android/.gradle/config.properties
Android/.gradle/file-system.probe
Android/.gradle/vcs-1/gc.properties
Android/.idea/.name
Android/.idea/AndroidProjectSystem.xml
Android/.idea/caches/deviceStreaming.xml
Android/.idea/compiler.xml
Android/.idea/deploymentTargetSelector.xml
Android/.idea/gradle.xml
Android/.idea/migrations.xml
Android/.idea/misc.xml
Android/.idea/runConfigurations.xml
Android/.idea/vcs.xml
videos/top10/.DS_Store
.DS_Store
Android/.DS_Store
Android/app/.DS_Store
.DS_Store
